.block1 { 
		font-family: Georgia,serif;
    	font-size: 150%;
}
.block2 {
		width: 400px;
		height: 400px;
    	font-family: Georgia,serif;
		padding: 10px;
		padding-right: 20px; 
		float: left;
		top: 70px; 
    	left: 10px; 
}
.block3 {
    	font-family: Georgia,serif;
    	width: 800px;
    	border-top: 2px solid black;
	  	position: relative;
	 	clear: left;
    	/*bottom: 2px;*/
}
