{% extends "base.html" %}

{% block title %}Ticket #3{% endblock title %}


{% block content %}
	<div style="text-align: center;">
		<div class="block1" style="display: inline-block; text-align: left;">42 Coffee Cups Test Assignment</div>
	</div>
    {% if contacts %}
		<div style="text-align: center;">
			
			<div class="block2" style="display: inline-block; text-align: left;">
				{{ contacts.name }}<br>
				{{ contacts.last_name }}<br>
				{{ contacts.date_of_birth }}<br><br>
				Bio:<br>
				{{ contacts.bio|linebreaks }}
			</div>
		
			<div class="block2" style="display: inline-block; text-align: left;">
				Contacts<br><br>
				Email: {{ contacts.email }}<br>
				Jabber: {{ contacts.jabber }}<br>
				Skype: {{ contacts.skype }}<br><br>
				Other contacts:<br>
				{{ contacts.other_contacts|linebreaks }}
			</div>
		</div>
	{% else %}
		<div class="block2" style="display: inline-block; text-align: left;">
			There is no information in database.
		</div>
	{% endif %}

	<div style="text-align: center;">
		<div class="block3" style="display: inline-block; text-align: left;">
		<a href='{% url "list_requests:requests" %}'>requests</a>
	</div>

	<div style="text-align: center;">
		<div class="block3" style="border:none; display: inline-block; text-align: left;">
		<a href='{% url "edit:edit" %}'>Edit</a>
	</div>
{% endblock content %}
