<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ticket #1 - Mockup</title>
		<style type="text/css">
			.block1 { 
					font-family: Georgia,serif;
					font-size: 150%;
					width: 800px;
			}
			.block2 {
					width: 400px;
					height: 400px;
					font-family: Georgia,serif; 
			}
			.block3 {
					font-family: Georgia,serif;
					width: 800px;
					border-top: 2px solid black;
			}
			table, th, td {
					border: 1px solid black;
					border-collapse: collapse;
			}
			th, td {
					padding: 5px;
			}
		</style>
    </head>
    <body>
	<div style="text-align: center;">
		<div class="block1" style="display: inline-block; text-align: left;">42 Coffee Cups Test Assignment</div>
	</div>
		<div style="text-align: center;">
			<div class="block2" style="display: inline-block; text-align: left;">
				Dmytro<br>
				Sapotnitskiy<br>
				March 24, 1989<br><br>
				Bio:<br>
				<p>I went to School # 73 during 1996 - 2006<br /> years at Kryviy Rih city, Ukraine. After<br /> that, I went to Kryviy Rih Technical<br /> Unversity during 2006 - 2011 years.</p>
			</div>
			<div class="block2" style="display: inline-block; text-align: left;">
				Contacts<br><br>
				Email: shelby_dima@mail.ru<br>
				Jabber: shelby89@42cc.co<br>
				Skype: shelby_dima<br><br>
				Other contacts:<br>
				<p>Phone number and other information<br /> will be provided on demand</p>
			</div>
		</div>
	</div>
</body>
</html>
